@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Lato:wght@900&family=Roboto+Mono:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
body {
  max-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 4;
  padding: 10px;
}
a {
  text-decoration: none;
}

.title_page a,
.navHome a {
  font-size: large;
}

.navHome a {
  margin: 0px 20px;
}
.navHome,
#searchNone,
.title_page {
  padding: 10px;
}
.navHome a,
.title_page a {
  color: rgb(51, 51, 51);
}

.navHome a:hover,
.title_page a:hover,
#searchButton:hover {
  color: rgb(255, 152, 0);
}

#searchInput,
#searchButton {
  border: 1px solid rgb(189, 189, 189);
  margin: 0 2px;
  border-radius: 15px;
  height: 4vh;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 5px 0 rgb(117, 117, 117);
}

main {
  padding-top: 50px;
  background: rgb(32, 35, 41);
  margin-bottom: 0px;
}
#characterList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.character {
  display: flex;
}

img {
  width: 215px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  color: white;
  background: rgb(39, 43, 51);
  width: 250px;
}
p {
  color: rgb(255, 255, 255);
  font-size: x-large;
}
.status_icon {
  padding: 10px;
  height: 0.1rem;
  width: 0.1rem;
  margin-right: 0.375rem;
  background: rgb(85, 204, 68);
  border-radius: 50%;
}
.status_icon_red {
  padding: 10px;
  height: 0.1rem;
  width: 0.1rem;
  margin-right: 0.375rem;
  background: rgb(182, 48, 48);
  border-radius: 50%;
}
.status_icon_yellow {
  padding: 10px;
  height: 0.1rem;
  width: 0.1rem;
  margin-right: 0.375rem;
  background: rgb(226, 223, 36);
  border-radius: 50%;
}

section {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.btn_go {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.btn_back,
.btn_next {
  border: 1px solid black;
  border-radius: 10%;
  padding: 10px;
  color: azure;
  margin-bottom: 50px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  box-sizing: border-box;
  background: #e8e8e8;
  position: sticky;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .character {
    display: inline;
    border-radius: 0px;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    color: white;
    background: rgb(39, 43, 51);
  }

  .character img {
    width: 100%;
    height: auto;
  }
}
#searchButton,
.btn_next,
.btn_back {
  cursor: pointer;
}
#linksSocial {
  display: flex;
  flex-direction: column;
  width: 100px;
}

#linksSocial img {
  width: 100%;
}
